# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store

# Rust build artifacts
target/
Cargo.lock

# Node / TypeScript
node_modules/
*.js
dist/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
